<!-- <footer class="mt-4 py-4 bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-6 px-0 d-flex align-items-center">
        <img [src]="logoSrc" class="footer-logo" />
        <p class="text-white px-4 my-0">
          {{ title }}
        </p>
      </div>
      <div class="col-6 px-0">
      </div>
    </div>
  </div>
</footer> -->
<footer class="it-footer">
  <div class="it-footer-main">
    <div class="container">
      <section>
        <div class="row clearfix">
          <div class="col-sm-12">
            <div class="it-brand-wrapper">
              <a href="#" data-focus-mouse="false">
                <img [src]="logoSrc" class="footer-logo" />
                <!-- <div class="it-brand-text">
                  <h2>Lorem Ipsum</h2>
                  <h3 class="d-none d-md-block">Inserire qui la tag line</h3>
                </div> -->
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="py-4 border-white border-top">
        <div class="row">
          <div class="col-lg-4 col-md-4 pb-2">
            <h4><a href="#" title="Vai alla pagina: Contatti">Contatti</a></h4>
            <p>
              <strong>{{ title }}</strong
              ><br />
              {{ address }}
            </p>
            <!-- <div class="link-list-wrapper">
              <ul class="footer-list link-list clearfix">
                <li><a class="list-item" href="#" title="Vai alla pagina: Posta Elettronica Certificata">Posta Elettronica Certificata</a></li>
                <li>
                  <a class="list-item" href="#" title="Vai alla pagina: URP - Ufficio Relazioni con il Pubblico">URP - Ufficio Relazioni con il Pubblico</a>
                </li>
              </ul>
            </div> -->
          </div>
          <!-- <div class="col-lg-4 col-md-4 pb-2">
            <h4><a href="#" title="Vai alla pagina: Lorem Ipsum">Lorem Ipsum</a></h4>
          </div> -->
          <!-- <div class="col-lg-4 col-md-4 pb-2">
            <div class="pb-2">
              <h4><a href="#" title="Vai alla pagina: Seguici su">Seguici su</a></h4>
              <ul class="list-inline text-left social">
                <li class="list-inline-item">
                  <a class="p-2 text-white" href="#" target="_blank"><svg class="icon icon-sm icon-white align-top"><use xlink:href="/bootstrap-italia/dist/svg/sprites.svg#it-designers-italia"></use></svg><span class="visually-hidden">Designers Italia</span></a>
                </li>
                <li class="list-inline-item">
                  <a class="p-2 text-white" href="#" target="_blank"><svg class="icon icon-sm icon-white align-top"><use xlink:href="/bootstrap-italia/dist/svg/sprites.svg#it-twitter"></use></svg><span class="visually-hidden">Twitter</span></a>
                </li>
                <li class="list-inline-item">
                  <a class="p-2 text-white" href="#" target="_blank"><svg class="icon icon-sm icon-white align-top"><use xlink:href="/bootstrap-italia/dist/svg/sprites.svg#it-medium"></use></svg><span class="visually-hidden">Medium</span></a>
                </li>
                <li class="list-inline-item">
                  <a class="p-2 text-white" href="#" target="_blank"><svg class="icon icon-sm icon-white align-top"><use xlink:href="/bootstrap-italia/dist/svg/sprites.svg#it-behance"></use></svg><span class="visually-hidden">Behance</span></a>
                </li>
              </ul>
            </div>
          </div> -->
        </div>
      </section>
    </div>
  </div>
  @if(mediaPolicyUrl || legalNotesUrl || privacyPolicyUrl || mapsiteUrl){
  <div class="it-footer-small-prints clearfix">
    <div class="container">
      <ul
        class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row"
      >
        @if(mediaPolicyUrl){
        <li class="list-inline-item">
          <a title="Note Legali" [routerLink]="mediaPolicyUrl">Media policy</a>
        </li>
        } @if(legalNotesUrl){
        <li class="list-inline-item">
          <a title="Note Legali" [routerLink]="legalNotesUrl">Note legali</a>
        </li>
        } @if(privacyPolicyUrl){
        <li class="list-inline-item">
          <a title="Privacy-Cookies" [routerLink]="privacyPolicyUrl"
            >Privacy policy</a
          >
        </li>
        } @if(mapsiteUrl){
        <li class="list-inline-item">
          <a title="Mappa del sito" [routerLink]="mapsiteUrl">Mappa del sito</a>
        </li>
        }
      </ul>
    </div>
  </div>
  }
</footer>
