:host::ng-deep.p-card-body {
  font-family: "Titillium Web", Arial !important;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 40px;
  padding-top: 16px;
}

:host::ng-deep.p-card-header {
  padding-top: 56px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
}

.menu-card-img {
  height: 10rem;
  width: 10rem;
}
:host::ng-deep.p-card:hover {
  box-shadow: 0 4px 15px;
}

:host::ng-deep.p-card {
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  min-height: 100%;
}

:host::ng-deep.p-card-title {
  text-align: center;
  text-decoration: underline;
  color: var(--sky-blue);
  font-size: 32px;
  text-underline-offset: 5px;
  text-decoration-thickness: 1.3px !important;
}

.menu-card-description {
  line-height: 1.5em !important;
  font-size: 1.25rem !important;
  text-align: justify;
  margin-bottom: 0;
  color: var(--black);
}
