::ng-deep.p-overlay {
  max-width: 100% !important;
}

::ng-deep.p-dropdown-items {
  padding: 0 0.5rem !important;
}

::ng-deep.p-dropdown-item {
  white-space: break-spaces;
  font-size: 16px;
}

::ng-deep.p-dropdown-item:hover {
  color: var(--white) !important;
  background-color: var(--light-blue) !important;
  border-radius: 5px;
}
::ng-deep.p-dropdown-panel
  .p-dropdown-items
  .p-dropdown-item:not(.p-highlight):not(.p-disabled).p-focus {
  background: var(--white);
}
::ng-deep.p-dropdown-items {
  font-family: "Titillium Web", Arial !important;
}

::ng-deep.p-dropdown-label {
  font-family: "Titillium Web", Arial !important;
}

::ng-deep.p-dropdown-label:focus {
  border-color: transparent !important;
  box-shadow: unset !important;
}

::ng-deep.p-dropdown-item:hover:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 15px;
  width: 14px;
  height: 14px;
  border-radius: 4px;
  background-color: var(--white);
  transform: rotate(45deg);
}

::ng-deep mlps-select.ng-invalid.ng-touched .p-dropdown {
  border: 1px solid var(--red) !important;
}

::ng-deep mlps-select.ng-invalid.ng-touched label {
  color: var(--red) !important;
}
