.homepage-caption-container {
  background: rgb(240, 246, 252);
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  font-size: 1.25rem;
  text-align: left;
  margin-top: 2.25rem;
}

.wave {
  display: block;
  position: relative;
  height: 50px;
  width: 100%;
  background: rgb(240, 246, 252);
  transform: scale(1, 1);
}

.wave:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background-color: #ffffff;
  left: -25%;
  top: 27px;
}

.wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 300px;
  background-color: rgb(240, 246, 252);
  right: -25%;
  top: -232px;
  clip-path: ellipse(100% 15% at -15% 100%);
}
