@import "../src/assets/scss/variables";
@import "primeicons/primeicons.css";

@font-face {
  font-family: "Titillium Web";
  src: url("./assets/fonts/TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Titillium Web SemiBold";
  src: url("./assets/fonts/TitilliumWeb-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Titillium Web Bold";
  src: url("./assets/fonts/TitilliumWeb-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Titillium Web", Arial;
}

h1,
h2,
h3,
h5,
h5 {
  color: var(--dark-blue);
}

//form group - stili per customizzare gli elementi comuni di una form group
.form-group {
  margin-bottom: 1rem !important;
}

label {
  color: var(--dark-blue) !important;
  font-family: "Titillium Web SemiBold";
  font-size: 16px !important;
  position: relative !important;
}

label.active {
  transform: none !important;
  color: var(--dark-blue) !important;
  font-family: "Titillium Web SemiBold" !important;
  font-size: 16px !important;
  position: relative !important;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.p-message {
  font-family: "Titillium Web", Arial;
}

.p-message-icon {
  display: flex;
}

.p-tooltip {
  font-family: "Titillium Web", Arial;
}

.text-bold {
  font-family: "Titillium Web Bold";
}

.text-semibold {
  font-family: "Titillium Web SemiBold";
}

.padding-10 {
  padding: 10px !important;
}

@for $i from 0 through 999 {
  .z-#{$i} {
    z-index: $i;
  }
}

.back-button-carousel {
  box-shadow: 0px 0px 4px 4px #0000001a !important;
  border: 2px solid !important;
}
